@import "navbar.css";
@import "splash.css";
@import "resume-form.css";
@import "resume-show.css";
@import "onepage-form.css";
@import "onepage-show.css";
@import "mainpage.css";
@import "buttons.css";
@import "browse-show.css";

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;

}

