.swipe-left {
  right: -600px;
  -webkit-animation: slide 0.5s forwards;
  animation: slide 0.5s forwards;
  animation-delay: 0s;
}

.swipe-right {

  right: 600px;
  -webkit-animation: slide 0.5s forwards;

  animation: slide 0.5s forwards;
  animation-delay: 0s;
}


@keyframes slide {
  100% {
    right: 0;
  }
}