
.home-page-container{
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    /* background-color: pink; */
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: -1;
}

.pending-index-container{
    height: 99%;
    width: 25%;
    /* background-color: lightblue; */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.browse-buttons-container{
    height: 99%;
    width: 73%;
    /* background-color: lightblue; */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* browse container */

.browse-window-container{
    
    width: 98%;
    height: 84%;
    /* background-color: lightgreen; */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.browse-header-text{
    width: 98%;
    height: 6%;
    /* background-color: yellow; */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.browse-window{
    width: 98%;
    height: 98%;
    /* background-color: gray; */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


/* pending container */


.pending-header-text{
    width: 98%;
    height: 10%;
    /* background-color: yellow; */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pending-index-rows{
    width: 98%;
    height: 87%;
    /* background-color: yellow; */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}