
.home-page-container{
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    /* background-color: pink; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: -1;
}

.pending-index-container{
    height: 99%;
    width: 25%;
    /* background-color: lightblue; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 200px;
}

.browse-buttons-container{
    height: 99%;
    width: 73%;
    /* background-color: lightblue; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* browse container */

.browse-window-container{
    
    width: 98%;
    height: 94%;
    /* background-color: lightgreen; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.browse-header-text{
    width: 98%;
    height: 6%;
    /* background-color: yellow; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.browse-window{
    width: 98%;
    height: 98%;
    /* background-color: gray; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


/* pending container */


.pending-header-text{
    width: 98%;
    height: 10%;
    /* background-color: yellow; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pending-index-rows{
    width: 98%;
    height: 87%;
    /* background-color: yellow; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    position: relative;
}

.pending-index-rows::-webkit-scrollbar { 
    width: 0 !important 
}

.pending-index-item{
    
    width: 99%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid lightgray;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
    min-height: 100px;
    padding-left: 15px;
}

.pending-index-item:hover{
    background-image: linear-gradient(to bottom right, white, whitesmoke, lightgray);
    /* transition: all 0.3s ease-in-out; */
   
}

.like-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 99%;
    /* background-color: lightblue; */
}


.pending-job-title{
    padding-top: 10px;
    width: 99%;
    height: 50%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.pending-company-name{
    padding-left: 0px;
    width: 99%;
    height: 35%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* text-align: center; */
}

@media all and (max-width: 1100px) {
    .pending-job-title{
        font-size: 14px;
    }

    .pending-company-name{
        display: none;
    }
}

@media all and (max-width: 700px) {
    .pending-header-text{
        font-size: 12px;
        text-align: center;
    }
}

@media all and (max-width: 630px) {
    .like-info{
        display: none;
    }

    .pending-index-item{
        justify-content: space-around;
    }


}