/* .onepage-show {
  border: 1px solid black;
}
 */

.onepage-detail-container{
  width: 100%;
  height: 100%;
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  position: relative;
}

.no-more-results{
  margin-top: 100px;
  display: flex;
  height: 80px;
  flex-direction: column;
  align-items: center;
}

.op-detail-header{
  width: 95%;
  height: 150px;
  /* background-color: pink; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
}

.op-detail-bottom-box{
  padding-top: 20px;
  width: 95%;
  height: 400px;
  /* background-color: pink; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;
  border-top: 5px solid lightgray;
}

.op-detail-left{
  width: 45%;
  height: 100%;
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.op-detail-right{
  width: 45%;
  height: 100%;
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.op-header-pic{
  display: flex;
  width: 45%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.op-header-pic img{
  width: 30vw;
}

.op-header-text{
  width: 400px;
  height: 150px;
  text-align: center;
}

.salary-div{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid lightgray;
}

.salary-div h3{
  margin-right: 40px;
}

.job-descrip-div{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 20px 0;
  border-bottom: 2px solid lightgray;
}

.job-descrip-div p{
  margin-right: 57px;
}

.skills-req-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
}

.skills-req-div h3{
  margin: 20px 0 20px 0;
  text-decoration: underline;
}

.skills-req-div ul{
  list-style: square;
}

.position-div{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 2px solid lightgray;
}

.position-div h3{
  margin: 0 20px 0  0;
}

.remote-div{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 2px solid lightgray;
}

.remote-div h3{
  margin: 0 60px 0  0;
}

.benefits-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.benefits-div h3{
  text-decoration: underline;
}

.benefits-div p{
  margin-top: 20px;
}



.swipe-left {
  position: relative;
  animation-name: not-interested;
  animation-duration: 1.0s;
  }
.swipe-right {
  position: relative;
  animation-name: interested;
  animation-duration: 1.5s;
}

@keyframes interested {
  0% {
    left: 0px;
    bottom: 0px;
  }
  15% {
    left: 150px;
    bottom: 50px;
  }
  20% {
    left: 150px;
    bottom: 50px;
    transform: scale(.7);
  }
  25% {
    left: 150px;
    bottom: 50px;
  }
  75% {
    left: 1000px;
    bottom: 350px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  76% {
    transform: matrix(0, 0, 0, 0, 0, 0);
  }

  77% {
    right: 1000px;
    bottom: 250px;
    transform: rotate(30deg);
  }

  100% {
    right: 0px;
    bottom: 0px;
  }
}

@keyframes not-interested {
  0% {
    right: 0px;
    bottom: 0px;
  }
  75% {
    right: 1300px;
    bottom: 350px;
    transform: matrix(0.3, 0, -.25, 0.3, 0, 0);
  }
  76% {
    transform: matrix(0, 0, 0, 0, 0, 0);
  }
  77% {
    left: 1000px;
    bottom: 250px;
    transform: rotate(-30deg);
  }
  100% {
    left: 0px;
    bottom: 0px;
  }
}

.onepage-show-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
}

.onepage-show{
  border: 1px solid whitesmoke;
  background-image: linear-gradient(to bottom right, white, whitesmoke, lightgray);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: lightgreen; */
  height: 75%;
  width: 70%;
}

.onepage-show-top{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: lightblue; */
  width: 99%;
  height: 99%;
}

.onepage-show-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: lightblue; */
  width: 99%;
  height: 99%;
}

#op-show-img{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: pink; */
  width: 35%;
  height: 90%;
}

.onepage-show-ur{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: pink; */
  width: 60%;
  height: 90%;
}

.onepage-show-ll{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: pink; */
}

.follow-up-button{
  font-size: 16px;
  margin-top: 80px;
  height: 65px;
  border-radius: 5px;
  width: 150px;
}

.follow-up-button:hover{
  background-color: rgba(50, 200, 50, 0.7);
}

.onepage-show-lr{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: pink; */
  width: 60%;
  height: 100%;
  overflow-y: scroll;
}

.onepage-show-lr::-webkit-scrollbar{
  width: 0;
}

[class*="op-group-"]{
  margin: 10px 0;
}

.op-group-1{
  width: 95%;
  height: auto;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.op-group-1 > h3{
  /* margin-left: 100px; */
}

.op-group-2{
  width: 95%;
  height: auto;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.op-group-2 > h4{
  height: 99%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 22px;
}

.op-group-2 > ul{
  height: 99%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.op-group-3{
  width: 95%;
  height: auto;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.op-group-3 > h4{
  height: 99%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
}

.op-group-3 > h3{
  height: 99%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media all and (max-width: 800px){
  .op-detail-bottom-box{
    height: auto;
    min-height: 800px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .op-header-text{
    font-size: 10px;
    height: 60px;
  }

  .banner{
    min-width: 80px;
  }

  .op-detail-left{
    margin-top: 5px;
    width: 95%;
    min-width: 400px;
  }

  .op-detail-right{
    margin-top: 5px;
    width: 95%;
    min-width: 400px;
  }

  .skills-req-div{
    height: 400px;
    margin-bottom: 5px;
  }
}