.signup-form {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  width: 350px;
  
  border: 2px solid rgba(0, 0, 0, 1);
  background-color: white;
}
.login-form {
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  
  width: 350px;
  height: 350px;
  border: 2px solid rgba(0, 0, 0, 1);
  background-color: white;
}
input {
  display: block;
  font-size: 14px;
  margin: 0px;
  padding: 5px;
  width: 280px;
  height: 40px;
}
select {
  display: block;
  padding: 2px;
  font-size: 14px;
  margin: 2px;
}
input[type=submit] {
  margin: 25px 0px;
  padding: 5px;
  background-color: rgba(0, 220, 0, 0.3);
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
}
input[type=submit]:hover {
  color: gray;
  background: whitesmoke
  
}
.session-button-div {
  display: flex;
  justify-content: space-between;
}
.session-button {
  background-color: rgba(0, 220, 0, 0.3);
  color: black;
  width: 138px;
  height: 28px;
  margin: 2px 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.session-button:hover {
  color: gray;
  background: whitesmoke
}
#demo {
  width: 100%;
}