.user-show-container{
    width: 100%;
    height: 100vh;
    top: 50px;
}

.user-show-top{
    top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 97%;
    height: 45%;
}

.user-avatar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 35%;
    height: 100%;
}

.user-avatar-img{
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
}

.user-show-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 100%;
}

.user-show-resume-link{
    color: rgba(132, 151, 236, 0.7)
}

.user-show-resume-link:hover{
    color: rgba(255, 0, 0, 0.7)
}

.user-show-bottom{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 97%;
    height: 45%;
}

.user-show-liked-pages{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

.user-show-liked-pages::-webkit-scrollbar { 
    width: 0 !important 
}

.user-show-matches{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

.user-show-matches::-webkit-scrollbar { 
    width: 0 !important 
}

.user-show-subheader{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 14%;
}

.user-show-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    padding-left: 25px;
    width: 100%;
    height: 80%;
    padding-left: 15px;
    overflow-y: scroll;
}

.user-show-list::-webkit-scrollbar { 
    width: 0 !important 
}

.user-show-list li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    width: 99%;
    
}


.user-show-li-btn{
    width: 120px;
    height: 75%;
    padding: 0 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-show-li-btn:hover{
    background-color: rgba(50, 255, 50, 0.5)
}

.user-show-li{
    min-height: 6vh;
}